@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;

    --maintext:#0f2027;
}
.profit{
    color: rgb(14, 133, 34);
}
.loss{
    color: red;
}
body{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
.main-form{
    height: 25vh;
    width: fit-content;
    display: flex;
    align-items: center;
    margin: auto;
}
.main-form input{
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 40vw;
}
.main-form button{
    margin: 0px 0px 0px 20px;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
}
.main-form button:hover{
    background: linear-gradient(to bottom, #e0eafc, #cfdef3);
    cursor: pointer;
}