.hide{
    display: none;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0px 20px;
    gap: 1rem;
}
.card{
    display: flex;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
}
.card button{
    background: none;
    outline: none;
    border: none;
}

h1{
    color: white;
    margin: 20px;
    padding: 20px 0px;
    border-bottom: 5px solid white;
    font-weight: 500;
}
.card h2{
    font-weight: 500;
}
.card h3{
    font-weight: 300;
}
.card h4{
    font-weight: 800;
}