.main{
    display: flex;
    width: 90%;
    justify-content: center;
    height: 75vh;
    margin: auto;
    gap: 5%;
}
.side1, .side2{
    height: 90%;
    width: 45%;
    border-radius: 10px;
    color: var(--maintext);
}
.side1{
    gap: 2rem;
    display: flex;
    flex-direction: column;
}
.side2{
    background: linear-gradient(to bottom, #e0eafc, #cfdef3);
}
.top, .bottom{
    background: linear-gradient(to bottom, #e0eafc, #cfdef3);
    padding: 2rem 0px;
    border-radius: 10px;
}
.side1 h1{
    font-size: 4rem;
    font-weight: 500;
    margin:0px 2rem;
}
.side1 h3{
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
}
.bottom h3{
    font-size: 1.3rem;
}
.side2 div{
    margin: 2rem;
    font-size: 1.5rem;
}
.side2 h1{
    margin: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
}
.assetid{
    font-weight: 700;
}
.error{
    background: rgba(255, 0, 0, 0.377);
    width: 70vw;
    padding: 20px;
    font-size: 20px;
    color: red;
    text-align: center;
    margin: 5rem auto;
    border-right: 3px solid red;
}
.material-symbols-outlined{
    font-size: 3rem;
    color: white;
    background: var(--maintext);
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    bottom: 3rem;
    right: 1.7rem;
    text-decoration: none;
    text-align: center;
}
@media (max-width:1230px) {
    *{
        font-size: smaller;
    }
}
@media (max-width:1020px) {
    .material-symbols-outlined{
        right: 1rem;
    }
}
@media (max-width:900px) {
    .material-symbols-outlined{
        top:5vh;
        bottom: none;

    }
}
@media (max-width:750px) {
    .main{
        flex-direction: column;
    }
}
